{% extends "cine/base.html" %}
{% load static %}
{% load user_tags %}
{% block titulo %}
<h5 class="card-title text-center">Categoría de Comidas</h5>
{% endblock titulo %}

{% block contenido %}
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3 align-items-center">
        <!-- Contenedor del buscador -->
        <div class="d-flex align-items-center w-75">
            <form method="post" class="d-flex w-100">
                {% csrf_token %}
                <input type="search" name="buscar" class="form-control me-2" placeholder="Buscar categoría de comida..." value="{{ query }}">
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </div>
    
        <!-- Botón Crear Categoría de Comida -->
         {% if user.is_authenticated %}
{% if user|in_group:"Administrador" or user|in_group:"Vendedor" %}
        <a class="btn btn-success" href="{% url 'crearCategoriaComida' %}">Crear</a>
        {% endif %}
{% endif %}
    </div>
    

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="bg-danger text-white" scope="col">#</th>
                <th class="bg-danger text-white" scope="col">Categoría</th>
                <th class="bg-danger text-white" scope="col">Descripción</th>
                <th class="bg-danger text-white" scope="col">Imagen</th>
                <th class="bg-danger text-white" scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias_comidas %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ categoria.nombreCategoriaComida }}</td>
                <td>{{ categoria.descripcionCategoria }}</td>
                <td><img src="{{ categoria.imagenCatComida.url }}" alt="{{ cine.nombre }}" width="40" height="40"></td>
                <td>
                    <a href="{% url 'editarCategoriaComida' categoria.idCategoriaComida %}" class="text-primary"><i class="bi bi-eye"></i></a>
                </td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}
