{% extends "cine/base.html" %}
{% load static %}
{% load user_tags %}
{% block titulo %}
<h5 class="card-title text-center">Crear Categoría de Película</h5>
{% endblock titulo %}

{% block contenido %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-6 mb-3">
                    {{ form.nombreCategoria.label_tag }}
                    {{ form.nombreCategoria }}
                    <span class="text-danger">{{ form.nombreCategoria.errors }}</span>
                </div>
                <div class="col-6 mb-3">
                    {{ form.descripcion.label_tag }}
                    {{ form.descripcion }}
                    <span class="text-danger">{{ form.descripcion.errors }}</span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="text-center">
                <img src="{% static 'img/categoria.png' %}" alt="imagen de cine" width="200" height="200">
                <div class="mb-3">
                    {{ form.imagenCategoria.label_tag }}
                    {{ form.imagenCategoria }}
                    <span class="text-danger">{{ form.imagenCategoria.errors }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <a href="javascript:history.back()" class="btn btn-danger">Volver</a>
        </div>
        {% if user.is_authenticated %}
{% if user|in_group:"Administrador" or user|in_group:"Vendedor" %}
        <div class="col-1">
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
        {% endif %}
{% endif %}
    </div>
</form>
{% endblock contenido %}