{% extends "cine/base.html" %}
{% load static %}
{% load user_tags %}
{% block titulo %}
<h5 class="card-title text-center">Crear Ciudad</h5>
{% endblock titulo %}

{% block contenido %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-6 mb-3">
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                    <span class="text-danger">{{ form.nombre.errors }}</span>
                </div>
                <div class="col-6 mb-3">
                    {{ form.pais.label_tag }}
                    {{ form.pais }}
                    <span class="text-danger">{{ form.pais.errors }}</span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="text-center">
                <img src="{% static 'img/ciudad.png' %}" alt="imagen de ciudad" width="200" height="200">
                <div class="mb-3">
                    {{ form.imagenCiudad.label_tag }}
                    {{ form.imagenCiudad }}
                    <span class="text-danger">{{ form.imagenCiudad.errors }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <a href="javascript:history.back()" class="btn btn-secondary">Volver</a>
        </div>
                    {% if user.is_authenticated %}
{% if user|in_group:"Administrador" or user|in_group:"Vendedor" %}
        <div class="col-1">
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
                    {% endif %}
            {% endif %}
    </div>
</form>
{% endblock contenido %}