{% extends "cine/base.html" %}
{% load static %}
{% load user_tags %}
{% block titulo %}
<h5 class="card-title text-center">Ciudades</h5>
{% endblock titulo %}

{% block contenido %}
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3 align-items-center">
        <!-- Contenedor del buscador -->
        <div class="d-flex align-items-center w-75">
            <form method="post" class="d-flex w-100">
                {% csrf_token %}
                <input type="search" name="buscar" class="form-control me-2" placeholder="Buscar ciudad..." value="{{ query }}">
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </div>
    
        <!-- Botón Crear Ciudad -->
                     {% if user.is_authenticated %}
{% if user|in_group:"Administrador" or user|in_group:"Vendedor" %}
        <a class="btn btn-success" href="{% url 'crearCiudad' %}">Crear</a>
                    {% endif %}
            {% endif %}
    </div>
    

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="bg-danger text-white" scope="col">#</th>
                <th class="bg-danger text-white" scope="col">Nombre</th>
                <th class="bg-danger text-white" scope="col">País</th>
                <th class="bg-danger text-white" scope="col">Imagen</th>
                <th class="bg-danger text-white" scope="col">Ver</th>

            </tr>
        </thead>
        <tbody>
            {% for ciudad in ciudades %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ ciudad.nombre }}</td>
                <td>{{ ciudad.pais }}</td>
                <td><img src="{{ ciudad.imagenCiudad.url }}" alt="{{ cine.nombre }}" width="40" height="40"></td>
                <td>
                    <a href="{% url 'editarCiudad' ciudad.idCiudad %}" class="text-primary"><i class="bi bi-eye"></i></i></a>
                </td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}
