{% extends "cine/base.html" %}
{% load static %}
{% load user_tags %}
{% block titulo %}
<h5 class="card-title text-center">Funciones</h5>
{% endblock titulo %}

{% block contenido %}
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3 align-items-center">
        <div class="d-flex align-items-center w-75">
            <form method="post" class="d-flex w-100">
                {% csrf_token %}
                <input type="search" name="buscar" class="form-control me-2" placeholder="Buscar función..." value="{{ query }}">
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </div>

        {% if user.is_authenticated %}
            {% if user|in_group:"Administrador" or user|in_group:"Vendedor" %}
                <a class="btn btn-success" href="{% url 'crearFuncion' %}">Crear</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for funcion in funciones %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ funcion.pelicula.imagenPelicula.url }}" class="card-img-top" alt="{{ funcion.pelicula.titulo }}">
                <div class="card-body">
                    <h5 class="card-title">{{ funcion.pelicula.titulo }}</h5>
                    <p class="card-text">
                        <strong>Fecha y hora:</strong> {{ funcion.fecha_hora|date:"d/m/Y H:i" }}<br>
                        <strong>Entradas disponibles:</strong> {{ funcion.entradas_disponibles }}
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{% url 'editarFuncion' funcion.idFuncion %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'eliminarFuncion' funcion.idFuncion %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock contenido %}
