{% extends "cine/base.html" %}
{% load static %}
{% load user_tags %}
{% block titulo %}
<h5 class="card-title text-center">Comidas</h5>
{% endblock titulo %}

{% block contenido %}
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3 align-items-center">
        <div class="d-flex align-items-center w-75">
            <form method="post" class="d-flex w-100">
                {% csrf_token %}
                <input type="search" name="buscar" class="form-control me-2" placeholder="Buscar comida..." value="{{ query }}">
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </div>
    
                    {% if user.is_authenticated %}
{% if user|in_group:"Administrador" or user|in_group:"Vendedor" %}
        <a class="btn btn-success" href="{% url 'crearComidas' %}">Crear</a>
                    {% endif %}
            {% endif %}
    </div>
    

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="bg-danger text-white" scope="col">#</th>
                <th class="bg-danger text-white" scope="col">Nombre</th>
                <th class="bg-danger text-white" scope="col">Categoría</th>
                <th class="bg-danger text-white" scope="col">Precio</th>
                <th class="bg-danger text-white" scope="col">Imagen</th>
                <th class="bg-danger text-white" scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            {% for comida in comidas %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ comida.nombre }}</td>
                <td>{{ comida.categoria.nombreCategoriaComida }}</td>
                <td>${{ comida.precio }}</td>
                <td><img src="{{ comida.imagenComida.url }}" alt="{{ comida.nombre }}" width="40" height="40"></td>
                <td>
                    <a href="{% url 'editarComida' comida.idComida %}" class="text-primary"><i class="bi bi-eye"></i></a>
                </td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}
