{% extends "cine/base.html" %}
{% load static %}

{% block titulo %}
<h5 class="card-title text-center">Categorías de Comida</h5>
{% endblock titulo %}

{% block contenido %}
<div class="container mt-4">
    <div class="row">
        {% for categoria in categoria_comida %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <!-- Imagen de la categoría de comida -->
                <img src="{{ categoria.imagenCatComida.url }}" class="card-img-top" alt="{{ categoria.nombreCategoria }}" style="height: 200px; object-fit: cover;">
                
                <!-- Contenido del card -->
                <div class="card-body">
                    <h5 class="card-title">{{ categoria.nombreCategoriaComida }}</h5>
                    <p class="card-text">{{ categoria.descripcionCategoria }}</p>
                    
                    <!-- Botón para ver los productos de la categoría -->
                    <a class="btn btn-primary" href="{% url 'comidas_por_categoria' categoria.idCategoriaComida %}">Ver Productos</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock contenido %}
