{% extends "cine/base.html" %}
{% load static %}

{% block titulo %}
<h5 class="card-title text-center">Editar Pelicula</h5>
{% endblock titulo %}

{% block contenido %}
<form method="post" enctype="multipart/form-data" action="{% url 'peliculaEditado' pelicula.idPelicula %}">
    {% csrf_token %}
    <div class="row">
        <!-- Columna de 9: Campos del formulario -->
        <div class="col-9">
            <div class="row">
                <div class="col-4 mb-3">
                    {{ form.titulo.label_tag }}
                    {{ form.titulo }}
                    <span class="text-danger">{{ form.titulo.errors }}</span>
                </div>
                <div class="col-4 mb-3">
                    {{ form.categoria.label_tag }}
                    {{ form.categoria }}
                    <span class="text-danger">{{ form.categoria.errors }}</span>
                </div>
                <div class="col-4 mb-3">
                    {{ form.duracion.label_tag }}
                    {{ form.duracion }}
                    <span class="text-danger">{{ form.duracion.errors }}</span>
                </div>
                <div class="col-4 mb-3">
                    {{ form.descripcion.label_tag }}
                    {{ form.descripcion }}
                    <span class="text-danger">{{ form.descripcion.errors }}</span>
                </div>
                <div class="col-4 mb-3">
                    {{ form.fecha_estreno.label_tag }}
                    <input type="date" name="fecha_estreno" value="{{ form.fecha_estreno.value|date:'Y-m-d' }}" class="form-control">
                    <span class="text-danger">{{ form.fecha_estreno.errors }}</span>
                </div>
            </div>
        </div>

        <!-- Columna de 3: Imagen e input de imagen -->
        <div class="col-3">
            <div class="text-center">
                <img src="{{ pelicula.imagenPelicula.url }}" alt="imagen de película" width="200" height="auto">
                <div class="mb-3">
                    {{ form.imagenPelicula.label_tag }}
                    {{ form.imagenPelicula }}
                    <span class="text-danger">{{ form.imagen.errors }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Fila aparte para los botones -->
    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-left gap-3">
            <a href="javascript:history.back()" class="btn btn-secondary">Volver</a>
            <a href="{% url 'eliminarPelicula' pelicula.idPelicula %}" class="btn btn-danger">Eliminar</i></a>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </div>
</form>
{% endblock contenido %}

